body {
  background-color: #1e1e1e;
  margin: 0;
  padding: 0;
  border: 0;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-size: inherit;
  text-align: inherit;
}

.content-section {
  box-sizing: border-box;
  width: 360px;
  margin: 0 auto;
}

.content-section_theme_dark {
  background-color: #131313;
  color: #f5f5f5;
}

.content-section_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* --- Header --- */
.header {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__logo-image {
  width: 80px;
  height: 16px;
}

.header__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.header__menu-link {
  text-underline-offset: 3px;
  color: #f5f5f5;
}

.header__menu-link-first {
  text-decoration: none;
}

/* ------------------------ */

/* Cover section */
.cover {
  background-image: url("../images/cover.svg");
  background-position: 20px 30px;
  background-repeat: no-repeat;
  background-size: 95% auto;
  padding: 7px 20px 35px;
}

.cover__accent-span {
  display: block;
  color: #fff;
  font-family: "EB Garamond", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.cover__title-bottom {
  margin-right: 4px;
}

/* ------------------------- */

/* --- Intro section --- */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  padding: 0 20px 38px 20px;
}

.intro__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #ccc;
  line-height: 120%;
}

.intro__date {
  white-space: nowrap;
}

.intro__main-text {
  line-height: 135%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/* ----------------------- */

/* --- common in articles --- */
.article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
  padding: 40px 20px;
}

.article__title {
  box-sizing: border-box;
  /* может меняться в других секциях? */
  letter-spacing: 0.1px;
}

.article__accent-span {
  display: block;
  font-family: "EB Garamond", serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  /* может меняться в других секциях? */
  line-height: 115%;
}

.article__introduction {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

/* ---------------------- */

/* --- reasons --- */
.em-dash-fix {
  margin-left: -3px;
}

.content-section__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 0 0 0 10px;
  margin-left: 6px;
}

.content-section__list-item {
  line-height: 135%;
}

.content-section__list-accent {
  font-weight: 700;
  letter-spacing: 0.012px;
}
/* ----------------------- */

/* --- how-to --- */
.how-to {
  color: #f5f5f5;
  padding-bottom: 60px;
}

.cards-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  border-radius: 30px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  letter-spacing: 0.05px;
  line-height: 135%;
}

/* цветовые модификаторы карточек */
.card_theme_dark {
  background-color: #343434;
}

.card_theme_bright {
  background-color: #fee42a;
  color: #131313;
}

/* контейнер с информацией об авторе */
.card__author {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

/* фото автора */
.card__author-photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card__author-polyarinov {
  background: url("../images/polyarinov.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card__author-bunin {
  background: url("../images/bunin.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* имя автора */
.card__author-name {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

/* контейнер для контента карточки */
.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

/* заголовок перед текстом карточки */
.card__title {
  font-family: "EB Garamond", serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
}

/* ----------------------- */

/* --- footer --- */
/* блок с копирайтом */
.footer {
  border-top: 1px solid #fee42a;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer__copy {
  line-height: 135%;
}

/* список ссылок */
.footer__links {
  list-style: none;
  display: flex;
  gap: 16px;
  font-size: 14px;
  line-height: 125%;
}

.footer__link {
  text-decoration: none;
  color: #f5f5f5;
}
/* ----------------------- */
